


<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Novalife 
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    
</head>
<body>
    <nav class="navbar">
    <div class="nav-container">

        <div class="logo">
            <a href="/">Novalife</a>
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="{% url 'posts:list' %}">Premium</a>

            {% if user.is_authenticated %}
                <a href="{% url 'posts:new-post' %}">New Post</a>
                <a href="{% url 'posts:contact' %}">Contact Us</a>

                <form class="logout" action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="logout-button">Logout</button>
                </form>

            {% else %}
                <a href="{% url 'users:register' %}">Register</a>
                <a href="{% url 'users:login' %}">Login</a>
            {% endif %}
        </div>

    </div>
</nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
     <!-- ================= FOOTER ================= -->
    <footer class="site-footer">
        <div class="container">

            <div class="footer-section">
                <h2>Contact Us</h2>
                <p>Email: fertilitynetworknovalife@gmail.com</p>
                <p>Phone: +2347033171719</p>
                
                
            </div>

            <div class="footer-section">
                <h2>Follow Us</h2>
                <p>
                    <a href="#">Facebook</a> |
                    <a href="https://www.instagram.com/reel/DWJ-Dk-uReY/?igsh=MW94eDQ2Ym00NDgxag==">Instagram</a> |
                    <a href="#">Twitter</a>
                </p>
            </div>

            <div class="footer-section">
                <p>© {% now "Y" %} Novalife. All Rights Reserved.</p>
            </div>

        </div>
    </footer>

</body>
</html>